/* Index page styling */
.featurette-heading {
    text-align: center;
  }
  
  .featurette-heading + p {
    display: none;
    text-align: center;
  }
  
  .featurette:hover .featurette-heading {
    display: none;
  }
  
  .featurette:hover .featurette-heading + p {
    display: block;
  }
  
  @media (hover: none) {
    /* styles for touch devices */
    .featurette-heading {
      display: block;
      text-align: center;
    }
  
    .lead {
      display: none;
    }
  
    .featurette:hover .lead {
      display: block;
      text-align: center;
    }
  
    .featurette:hover .featurette-heading {
      display: none;
    }
  }
  .title-word {
    animation: color-animation 5s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  .title-word-3 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  