#card-image-container {
  position: relative;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  display: none;
}

.card {
  margin: 5px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }

}

#desc-text {
  white-space: pre-line;
}

.btn.logout-btn {
  color: white;
}
.material-icons{
  cursor: pointer;
}

#star_border {
  font-size: 45px;
  float: right;
}






