body {
  text-align: center;
}

#card-image-container {
  position: relative;
}

.routeNumber {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  display: inline-block;
}

.card {
  margin: 5px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }

}

#notification-title {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}

#desc-text {
  white-space: pre-line;
}

.btn.logout-btn {
  color: white;
}
.material-icons{
  cursor: pointer;
}

#star_border {
  font-size: 45px;
  float: right;
}

#timestamp {
  font-weight: 600;
}

.dropdown-menu a{
  width: 300px;
  white-space: normal;
}

.dropdown {
  margin: 5px;
}

.nav-item {
  text-align: left;
}

.nav-item button {
  float: left;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

#btn-viewAll {
 /* float: right; */
}


