

.bottom-links {
  color: white;
  padding-left: 5px;
  text-decoration: none;
}

.bottom-links:hover {
  color: #e7e7e7;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }

}

